@import url("https://use.typekit.net/ean3icx.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        scroll-behavior: smooth;
    }
    body {
        font-family: "acumin-pro", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    h1 {
        @apply text-[40px] leading-[44px];
    }
}

/* Font family acumin pro condensed */
@layer components {
    .hide-cursor,
    .hide-cursor *:not(a) {
        cursor: none;
    }
    .acumin-pro-condensed {
        font-family: "acumin-pro-condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    /* Center tailwind absolute */
    .center-absolute {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
    }

    .desktop-container {
        @apply lg:mx-auto lg:max-w-[1440px];
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none; /* for WebKit (Chrome, Safari, etc.) */
    }
    .hide-scrollbar {
        -ms-overflow-style: none; /* for IE and Edge */
        scrollbar-width: none; /* for Firefox */
    }

    .box__shadow {
        box-shadow: 0px 1px 3px 0px #00267766;
    }

    .box__shadow__orange {
        box-shadow: 0px 2px 4px 0px #ff7f4133;
    }

    .box__shadow__blue {
        box-shadow: 0px 2px 4px 0px #0074f033;
    }

    .gradient__bg {
        background: linear-gradient(
            90deg,
            #0074f0 4%,
            rgba(0, 116, 240, 0) 10.51%,
            rgba(0, 116, 240, 0) 87.67%,
            #0074f0 96.36%
        );
    }

    .white_gradient__bg {
        background: linear-gradient(
            90deg,
            #ffffff 4%,
            rgba(255, 255, 255, 0) 10.51%,
            rgba(255, 255, 255, 0) 87.67%,
            #ffffff 96.36%
        );
    }

    .truncate__text__bg {
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 39.89%,
            #ffffff 100%
        );
    }
    .tab {
        @apply flex w-full flex-col gap-[10px] whitespace-nowrap uppercase opacity-50 transition-all duration-300 ease-in-out hover:opacity-100 lg:gap-[12px] [&.activeTab]:opacity-100;
    }

    .tab__line {
        @apply h-[2px] w-full bg-white lg:h-[4px];
    }

    .tab__text {
        @apply pr-5 text-[24px] font-medium leading-[24px] text-white lg:size-[22px] lg:leading-[26px];
    }

    .tab__line__orange {
        @apply h-[2px] w-full bg-black transition-all duration-300 ease-in-out group-hover:bg-softOragne lg:h-[4px];
    }

    .tab__text__orange {
        @apply pr-5 text-[24px] font-medium leading-[24px] text-black transition-all duration-300 ease-in-out group-hover:text-softOragne lg:size-[22px] lg:leading-[26px];
    }

    .tab__line__blue {
        @apply h-[2px] w-full bg-black transition-all duration-300 ease-in-out group-hover:bg-brightBlue lg:h-[4px];
    }

    .tab__text__blue {
        @apply pr-5 text-[24px] font-medium leading-[24px] text-black transition-all duration-300 ease-in-out group-hover:text-brightBlue lg:size-[22px] lg:leading-[26px];
    }

    .transition__all {
        @apply transition-all duration-300 ease-in-out;
    }

    .activeTab .tab__line__blue {
        @apply bg-brightBlue;
    }

    .activeTab .tab__text__blue {
        @apply text-brightBlue;
    }

    .activeTab .tab__line__orange {
        @apply bg-softOragne;
    }

    .activeTab .tab__text__orange {
        @apply text-softOragne;
    }

    .box__shadow__partner {
        box-shadow: 0px 1px 5px 0px #00000040;
    }

    @media (min-width: 1024px) {
        .box__shadow__partner {
            box-shadow: none;
        }
    }
}
